.tooltip .damage, .tooltip .failure, .tooltip .info {
    float: right;
}
.tooltip .section .calculator {
    font-style: italic;
}
.tooltip .zero {
    opacity: 0.5;
}
#tooltipwrapper .tooltip .calculator .damage-container {
    display: flex;
    flex-wrap: wrap;
}
#tooltipwrapper .tooltip .calculator .damage-container > span {
    flex-grow: 1;
}
#tooltipwrapper .tooltip .calculator .hko {
    padding-top: 4px;
}
#tooltipwrapper .tooltip .calculator .recoil {
    font-size: 0.8em;
    align-self: flex-end;
}
.tooltip .section {
    background-color: transparent;
}
#tooltipwrapper div.tooltip-trainer {
    width: 200px;
}
#tooltipwrapper div.tooltip-trainer .section {
    display: block;
    padding: unset;
    margin: unset;
    margin-top: 0.5em;
}
#tooltipwrapper div.tooltip-trainer .section:first-child {
    margin-top: unset;
}
#tooltipwrapper .unrevealed-pokemon small {
    float: right;
}
.message-log .chat.calculator {
    background-color: lightgray;
    border: 1px solid gray;
    padding: 2px;
}
small.damage, small.failure {
    display: block;
}
#shinyPercentage {
    width: unset;
}
html body .recovery-failure {
    color: #c00;
    font-weight: bold;
    text-transform: uppercase;
}
body .movemenu button.recovery-failure small {
    font-weight: normal;
    text-transform: none;
}
.self-hit.damage {
    font-size: 0.8em;
    font-style: italic;
}
.rightbar, .leftbar {
    z-index: 1;
}
.innerbattle > .message {
    z-index: 2;
}
.rooby-chat code {
    cursor: pointer;
}
div.rooby-menu {
    max-height: 200px;
    overflow-y: auto;
    position: relative;
    text-align: left;
}
.rooby-menu:not(:has(a:not([style="display: none;"]))) {
    display: none;
}
.rooby-menu small:nth-of-type(3) {
    margin: 0px 5px;
}
.rooby-menu img {
    position: absolute;
    right: 0;
    top: 0px;
    height: 100%;
    max-height: max-content;
    z-index: -1;
}
.rooby-menu > div {
    text-align: left;
}
.rooby-menu .vs {
    padding: 0px 5px;
}
.rooby-menu p .label {
    margin-left: 10px;
}
.failure:not(.p0) {
    color: #f00;
}
.green {
    color: #070;
}
.red {
    color: #800;
}
.trainer > strong > a {
    color: unset;
    text-decoration: none;
}
.trainer > strong > a:hover {
    text-decoration: underline;
}
.pixelated.hd {
    image-rendering: optimizeQuality;
    transform: unset;
}
#backdropBottom {
    position: absolute;
    bottom: -1px;
    width: 439px;
    height: 64px;
    left: 100px;
    background-color: rgba(255, 255, 255, .5);
    border-top: 1px solid rgba(215,215,215,.5);
    display: block;
    z-index: 1;
}
div#backdropBottom.other-gen, div#backdropBottom.old-gen-backdrop, div#backdropBottom.mid-gen-backdrop, 
div#backdropBottom.other-gen-backdrop {
    display: none;
}
.backdrop ~ div[role="complementary"]:empty {
    visibility: hidden;
}
#backdropBottom ~ .backdrop ~ div[role="complementary"] {
    visibility: visible;
}
#backdropBottom ~ .backdrop ~ div[role="complementary"] .teamicons:empty {
    display: none;
}
#backdropBottom ~ .backdrop ~ div[role="complementary"] .trainer-near {
    bottom: 100px;
}
#backdropBottom.old-gen {
    height: 80px;
}
#backdropBottom:not(.old-gen-backdrop):not(.mid-gen-backdrop):not(.old-gen):not(.mid-gen) ~ div[role="complementary"],
#backdropBottom.other-gen-backdrop ~ div[role="complementary"] {
    background-color: transparent;
    border: 0;
}
#backdropBottom:not(.old-gen-backdrop):not(.mid-gen-backdrop):not(.old-gen):not(.mid-gen) ~ div[role="complementary"] .trainer,
#backdropBottom.other-gen-backdrop ~ div[role="complementary"] .trainer {
    background-color: rgba(255, 255, 255, .7);
    border: 1px solid rgba(215, 215, 215, .7);
    padding-top: 15px;
    padding-bottom: 15px;
    bottom: 85px;
}
#backdropBottom:not(.old-gen-backdrop):not(.mid-gen-backdrop):not(.old-gen):not(.mid-gen) ~ div[role="complementary"] .trainer-far,
#backdropBottom.other-gen-backdrop ~ div[role="complementary"] .trainer-far {
    top: 0;
    bottom: unset;
}
#backdropBottom:not(.other-gen-backdrop):not(.mid-gen-backdrop):not(.other-gen):not(.mid-gen) ~ div[role="complementary"] .trainer-far,
#backdropBottom.old-gen-backdrop ~ div[role="complementary"] .trainer-far {
    top: 38px;
    bottom: unset;
}
#backdropBottom.mid-gen-backdrop.old-gen ~ .backdrop ~ div:not([class]) > div:last-child > img  {
    margin-top: 13px;
}
#backdropBottom.mid-gen.old-gen-backdrop ~ .backdrop {
    margin-top: 9px;
    transform: scaleY(1.06);
}
#backdropBottom.mid-gen.old-gen-backdrop ~ .backdrop ~ .leftbar .trainer {
    transform: translateY(10px);
}
.backdrop.coromon, .backdrop.oras, .backdrop.aveontrainer, .backdrop.nauris-amatnieks {
    background-size: cover;
    background-position-x: center;
}
.backdrop.gen1jpn, .backdrop.xy, .backdrop.xybg {
    background-size: 100%;
    background-position-x: center;
}
.backdrop.carchagui, .backdrop.princess-phoenix {
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
}
.backdrop.magiscarf {
    background-position-y: bottom;
    background-position-x: -10px;
    background-size: 100%;
}
.backdrop.aveontrainer {
    background-position-x: 75%;
    background-position-y: -50px;
}
.backdrop.gen1jpn {
    transform: scaleY(0.75);
    margin-top: -83px;
    margin-left: 21px;
    height: 700px;
}
#backdropBottom.mid-gen.other-gen-backdrop ~ .backdrop ~ div:not([class]) > div:last-child > img {
    margin-top: -16px;
}
.backdrop.gen1jpn {
    transform: scaleY(0.75);
    margin-top: -83px;
    margin-left: 21px;
    height: 700px;
}
.backdrop.xy {
    background-position-y: 30px;
}
.backdrop.xybg {
    background-position-y: center;
}
.backdrop.nauris-amatnieks {
    background-position-y: -75px;
}